<?xml version="1.0" encoding="utf-8"?>
<!--
  **************************************************-
  InGrid-iPlug DSC
  ==================================================
  Copyright (C) 2014 - 2015 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.DscDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapper"/>
                <ref bean="recordMapperLgvHh"/>
                <ref bean="recordProfileMapper"/>
            </list>
        </property>
    </bean>

    <bean id="recordSetProducer" class="de.ingrid.iplug.dsc.index.producer.PlugDescriptionConfiguredDatabaseRecordSetProducer">
        <property name="recordSql" value="SELECT DISTINCT id FROM t01_object WHERE work_state='V' AND publish_id=1" />
    </bean>

    <bean id="recordMapper" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/global.js</value>
                <value>classpath:mapping/igc_to_lucene.js</value>
            </list>
        </property> 
        <property name="compile" value="true" />
    </bean>
    <bean id="recordMapperLgvHh" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/igc_to_lucene_lgv_hh.js</value>
            </list>
        </property> 
        <property name="compile" value="true" />
    </bean>
    <bean id="recordProfileMapper" class="de.ingrid.iplug.dsc.index.mapper.IgcProfileDocumentMapper">
        <property name="sql" value="SELECT value_string AS igc_profile FROM sys_generic_key WHERE key_name='profileXML'" />
    </bean>

</beans>
