<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.DscDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapper"/>
                <ref bean="profileMapper"/>
            </list>
        </property>
    </bean>

    <bean id="recordSetProducer" class="de.ingrid.iplug.dsc.index.producer.PlugDescriptionConfiguredDatabaseRecordSetProducer">
        <property name="recordSql" value="SELECT * FROM t01_object WHERE work_state='V' AND publish_id='1';" />
    </bean>

    <bean id="recordMapper" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScript" value="classpath:mapping/igc-3.0.0_to_lucene.js" />
        <property name="compile" value="false" />
    </bean>
    <bean id="profileMapper" class="de.ingrid.iplug.dsc.index.mapper.SimpleDatabaseRecord2DocumentMapper" />


    <bean id="dscSearchPlug" class="de.ingrid.iplug.dsc.DscSearchPlug">
        <property name="dscRecordProducer" ref="dscRecordProducer" />
    </bean>
    
    <bean id="dscRecordProducer" class="de.ingrid.iplug.dsc.record.DscRecordCreator">
        <property name="recordProducer" ref="recordProducer" />
        <property name="record2IdfMapperList">
            <list>
                <ref bean="idfMapper"/>
            </list>
        </property>
    </bean>
    
    <bean id="recordProducer" class="de.ingrid.iplug.dsc.record.producer.PlugDescriptionConfiguredDatabaseRecordProducer" />
    
    <bean id="idfMapper" class="de.ingrid.iplug.dsc.record.mapper.ScriptedIdfMapper">
        <property name="mappingScript" value="classpath:mapping/igc-3.0.0_to_idf-1.0.js" />
        <property name="compile" value="false" />
    </bean>


</beans>
