<?xml version="1.0" encoding="UTF-8"?>
<!--
  **************************************************-
  InGrid-iPlug DSC
  ==================================================
  Copyright (C) 2014 - 2015 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- import spring beans for the iPlug -->
    <!-- <import resource="spring.xml"/>  -->   
    
    <!-- the application context definition for the springapp DispatcherServlet -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
				<value>classpath:messages_base</value>
			</list>
		</property>
		<property name="cacheSeconds" value="0" />
		<property name="fallbackToSystemLocale" value="false"></property>
    <property name="defaultEncoding">
      <value>UTF-8</value>
    </property>
	</bean>

    <!-- XML DEFINED BEANS WITH ACCORDING QUALIFIER TO BE AUTOWIRED VIA QUALIFIER ! -->

    <!-- Single parsers are injected explicitly (but created via annotation mechanism) -->
    <!-- Adapt number, type and order of parsers dependent from iPlug -->
    <bean class="de.ingrid.admin.elasticsearch.converter.QueryConverter">
        <qualifier value="XMLconfigured"/>
        <property name="queryParsers">
            <list>
                <ref bean="defaultFieldsQueryConverter" />
                <ref bean="fieldQueryIGCConverter" />
                <!-- <ref bean="rangeQueryParser" /> -->
                <ref bean="wildcardQueryConverter" />
                <ref bean="matchAllQueryConverter" />
            </list>
        </property>
    </bean>

    
    <!--
        Defines a facet definition filter. Will be applied before a facet 
        definition is analyzed. This construct is used in igc dsc
        iPlug to map incompatible queries to compatible.
        
        See also de.ingrid.iplug.dsc.IGCTopicsSearchPreProcessor.

        This is IGC DB specific. Please comment for other databases.
    -->
    <bean id="configurableFacetDefinitionProcessors"
        class="de.ingrid.admin.elasticsearch.facets.ConfigurableFacetClassProcessor" >
        <property name="facetFilterDefinitions">
            <map>
                <entry key="type:topic" value-ref="topicFilterDef"/>
            </map>                
        </property>
    </bean>

    <util:map id="topicFilterDef" key-type="java.lang.String">
        <entry key="datatype:topics" value="t01_object.is_catalog_data:y" />
    </util:map>

    <context:component-scan base-package="de.ingrid">
    </context:component-scan>
    
    <mvc:annotation-driven/>
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/img/**" location="/img/" />

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="maxUploadSize" value="1000000"/> 
	</bean>
    
    
    
<!-- The following beans can be used to setup a different mapping script and also the order.    
    
    
    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.DscDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapper"/>
                <ref bean="recordProfileMapper"/>
            </list>
        </property>
    </bean>

    <bean id="recordSetProducer" class="de.ingrid.iplug.dsc.index.producer.PlugDescriptionConfiguredDatabaseRecordSetProducer">
        <property name="recordSql" value="SELECT DISTINCT id FROM t01_object WHERE work_state='V' AND publish_id=1" />
    </bean>

    <bean id="recordMapper" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/global.js</value>
                <value>classpath:mapping/igc_to_lucene.js</value>
            </list>
        </property> 
        <property name="compile" value="true" />
    </bean>
    <bean id="recordProfileMapper" class="de.ingrid.iplug.dsc.index.mapper.IgcProfileDocumentMapper">
        <property name="sql" value="SELECT value_string AS igc_profile FROM sys_generic_key WHERE key_name='profileXML'" />
    </bean>


    <bean id="dscSearchPlug" class="de.ingrid.iplug.dsc.DscSearchPlug">
        <property name="dscRecordProducer" ref="dscRecordCreator" />
    </bean>
    
    <bean id="dscRecordCreator" class="de.ingrid.iplug.dsc.record.DscRecordCreator">
        <property name="recordProducer" ref="recordProducer" />
        <property name="record2IdfMapperList">
            <list>
                <ref bean="createIdfMapper"/>
                <ref bean="scriptedIdfMapper"/>
                <ref bean="scriptedIdfMapperDQ"/>
                <ref bean="igcProfileIdfMapper"/>
            </list>
        </property>
    </bean>
    
    <bean id="recordProducer" class="de.ingrid.iplug.dsc.record.producer.PlugDescriptionConfiguredDatabaseRecordProducer">
        <property name="indexFieldID" value="t01_object.id" />
    </bean>
    
    <bean id="createIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.CreateIdfMapper"/>

    <bean id="scriptedIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.ScriptedIdfMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/global.js</value>
                <value>classpath:mapping/idf_utils.js</value>
                <value>classpath:mapping/igc_to_idf.js</value>
            </list>
        </property> 
        <property name="compile" value="true" />
    </bean>

    <bean id="scriptedIdfMapperDQ" class="de.ingrid.iplug.dsc.record.mapper.ScriptedIdfMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/global.js</value>
                <value>classpath:mapping/idf_utils.js</value>
                <value>classpath:mapping/igc_to_idf_obj_dq.js</value>
            </list>
        </property> 
        <property name="compile" value="true" />
    </bean>

    <bean id="igcProfileIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.IgcProfileIdfMapper">
        <property name="sql" value="SELECT value_string AS igc_profile FROM sys_generic_key WHERE key_name='profileXML'" />
    </bean>
-->
    
</beans>